<section class="block block--primary about">
  <div class="container desc">
    <header class="block__header">
      <h1 class="desc__header">About Me</h1>
      <p class="desc__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate,
        saepe?
      </p>
    </header>
    <hr class="line" />
  </div>
  <div class="container grid grid--1x2__about">
    <img class="about__image" src="images/aboutme.png" alt="" />
    <header class="block__header about__content">
      <h3 class="about__header">Hi There,</h3>
      <p class="about__text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam
        corrupti voluptas quas nostrum, consectetur in tempore recusandae quod
        error qui magni, quidem illum unde temporibus pariatur quae. Quos
        doloribus iure sunt facere libero, exercitationem vero velit illum!
        Iusto, repudiandae ea.
      </p>
      <p class="about__text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet atque,
        quidem cupiditate animi alias id. Molestias sequi obcaecati illum
        ducimus, a doloremque, ad maxime quis, laudantium provident eaque amet
        sunt.
      </p>
      <ul class="list block-about__contact">
        <li>
          <span class="block-about__contact__item">Name:</span>
          <p class="block-about__contact__text">Wicus Buys</p>
        </li>
        <li>
          <span class="block-about__contact__item">Phone:</span>
          <p class="block-about__contact__text">(+27) 083 471 7822</p>
        </li>
        <li>
          <span class="block-about__contact__item">Email:</span>
          <p class="block-about__contact__text">wicusbuys@gmail.com</p>
        </li>
        <li>
          <span class="block-about__contact__item">Linkedin:</span>
          <p class="block-about__contact__text">Willem Buys</p>
        </li>
      </ul>
    </header>
  </div>
</section>
