<section class="block block--primary">
  <div class="container">
    <header class="block__header">
      <h1 class="block__heading">Heading</h1>
      <h1>Heading1</h1>
      <h2>Heading2</h2>
      <h3>Heading3</h3>
      <h4>Heading4</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum consectetur
        deleniti beatae ratione voluptatem eius numquam nobis ea ullam utssssss
        ssssss s s s sssss ss! Lorem ipsum dolor sit, amet consectetur
        adipisicing elit. Soluta dignissimos sequi magni explicabo. Rem hic ex
        optio cum sunt perferendis?
      </p>
    </header>
  </div>
</section>
<section class="block block--secondary">
  <div class="container">
    <header class="block__header">
      <h2 class="block__heading">Heading</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum consectetur
        deleniti beatae ratione voluptatem eius numquam nobis ea ullam utssssss
        ssssss s s s sssss ss!
      </p>
    </header>
  </div>
</section>
