<section class="block block--primary contact">
  <div class="container desc">
    <header class="block__header">
      <h4 class="desc__tag">HAVE A QUERY?</h4>
      <h1 class="desc__header">Contact Me</h1>
      <p class="desc__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate,
        saepe?
      </p>
    </header>
    <hr class="line" />
  </div>
  <div class="container grid grid--1x3__contact">
    <div class="card card--contact">
      <div class="card__image">
        <svg class="icon icon--accent">
          <use xlink:href="images/sprite.svg#phone"></use>
        </svg>
      </div>
      <div class="card__body">
        <h4 class="card__title">Give me a call</h4>
        <p>(+27) 83 471 7822</p>
      </div>
    </div>
    <div class="card card--contact">
      <div class="card__image">
        <svg class="icon icon--accent">
          <use xlink:href="images/sprite.svg#linkedin"></use>
        </svg>
      </div>
      <div class="card__body">
        <h4 class="card__title">Follow me</h4>
        <p>Willem Buys</p>
      </div>
    </div>
    <div class="card card--contact">
      <div class="card__image">
        <svg class="icon icon--accent">
          <use xlink:href="images/sprite.svg#gmail"></use>
        </svg>
      </div>
      <div class="card__body">
        <h4 class="card__title">Get in online</h4>
        <p>wicusbuys@gmail.com</p>
      </div>
    </div>
  </div>
  <div class="container grid grid--1x2__contact__message">
    <input
      type="text"
      class="input contact__message_input"
      placeholder="Your name"
      required
    />
    <input
      type="email"
      class="input contact__message_input"
      placeholder="Your name"
      required
    />
  </div>
  <div class="container grid grid__contact__message">
    <input
      type="text"
      class="input contact__message_input"
      placeholder="Your name"
      required
    />
    <textarea
      name="textarea"
      cols="30"
      rows="10"
      class="input input--area contact__message_input--area"
      placeholder="Your message"
    ></textarea>
    <a href="" class="btn btn--fill contact__message__btn">Send Message</a>
  </div>
</section>
