<footer class="block block--primary footer">
  <div class="container container--footer">
    <a class="footer__brand" href="/"><img src="images/logo.svg" alt="" /> </a>
    <p class="footer__desc">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde error
      suscipit, incidunt molestiae doloribus mollitia eveniet in perferendis?
      Labore, unde?
    </p>
    <div class="footer__social">
      <a class="icon-container" href="/">
        <svg class="icon icon--social">
          <use xlink:href="images/sprite.svg#linkedin"></use>
        </svg>
      </a>
      <a class="icon-container" href="/">
        <svg class="icon icon--social">
          <use xlink:href="images/sprite.svg#instagram"></use>
        </svg>
      </a>
      <a class="icon-container" href="/">
        <svg class="icon icon--social">
          <use xlink:href="images/sprite.svg#gmail"></use>
        </svg>
      </a>
    </div>
  </div>
  <p class="footer__copyright">Copyright 2022 Wicus Buys</p>
</footer>
