<section class="block block--secondary interests">
  <div class="container desc">
    <header class="block__header">
      <h4 class="desc__tag">Interests</h4>
      <h1 class="desc__header">My Interests</h1>
      <p class="desc__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate,
        saepe?
      </p>
    </header>
    <hr class="line" />
  </div>
  <div class="container grid grid--1x3__interest">
    <div class="tile tile--interest">
      <svg class="icon tile__icon">
        <use xlink:href="images/sprite.svg#bmw"></use>
      </svg>
      <header class="tile__header">Car Enthusiast</header>
      <div class="tile__body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi aliquam
        sed natus, iste corrupti nulla.
      </div>
    </div>
    <div class="tile tile--interest">
      <svg class="icon tile__icon">
        <use xlink:href="images/sprite.svg#bmw"></use>
      </svg>
      <header class="tile__header">Car Enthusiast</header>
      <div class="tile__body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi aliquam
        sed natus, iste corrupti nulla.
      </div>
    </div>
    <div class="tile tile--interest">
      <svg class="icon tile__icon">
        <use xlink:href="images/sprite.svg#bmw"></use>
      </svg>
      <header class="tile__header">Car Enthusiast</header>
      <div class="tile__body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi aliquam
        sed natus, iste corrupti nulla.
      </div>
    </div>
    <div class="tile tile--interest">
      <svg class="icon tile__icon">
        <use xlink:href="images/sprite.svg#bmw"></use>
      </svg>
      <header class="tile__header">Car Enthusiast</header>
      <div class="tile__body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi aliquam
        sed natus, iste corrupti nulla. lore
      </div>
    </div>
    <div class="tile tile--interest">
      <svg class="icon tile__icon">
        <use xlink:href="images/sprite.svg#bmw"></use>
      </svg>
      <header class="tile__header">Car Enthusiast</header>
      <div class="tile__body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi aliquam
        sed natus, iste corrupti nulla.
      </div>
    </div>
    <div class="tile tile--interest">
      <svg class="icon tile__icon">
        <use xlink:href="images/sprite.svg#bmw"></use>
      </svg>
      <header class="tile__header">Car Enthusiast</header>
      <div class="tile__body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi aliquam
        sed natus, iste corrupti nulla.
      </div>
    </div>
  </div>
</section>
