<section class="block block--primary skills">
  <div class="container desc">
    <header class="block__header">
      <h4 class="desc__tag">Skills</h4>
      <h1 class="desc__header">My Skills</h1>
      <p class="desc__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate,
        saepe?
      </p>
    </header>
    <hr class="line" />
  </div>
  <div class="container grid grid--1x2">
    <header class="block__header skills__content">
      <h1 class="skills__header">What I've Learnt</h1>
      <p class="skills__tagline">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque nemo id
        architecto voluptates, sed, soluta ex veritatis dolore ipsum deleniti
        laborum maxime delectus debitis, possimus modi eum nobis? Soluta qui
        minima quia perferendis. Dicta rerum quidem quasi vel maxime aperiam!
      </p>
      <a href="" class="btn btn--outline">Message me</a>
    </header>
    <ul class="list block-skills__list">
      <li>
        <span class="block-skills__list__item">Java:</span>
        <p class="block-skills__list__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi,
          aliquid.
        </p>
      </li>
      <li>
        <span class="block-skills__list__item">SQL:</span>
        <p class="block-skills__list__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt,
          accusantium.
        </p>
      </li>
      <li>
        <span class="block-skills__list__item">HTML & CSS:</span>
        <p class="block-skills__list__text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus,
          quibusdam?
        </p>
      </li>
      <li>
        <span class="block-skills__list__item">Git:</span>
        <p class="block-skills__list__text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, hic!
        </p>
      </li>
    </ul>
  </div>
</section>
